<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<body>
	<div align="center">
	<br><br><br>
	<h1>Registration Form</h1>
	<br>
		<form th:action="@{/process_register}" method="post">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-5">
						<input type="email" class="form-control" name="email" required />
					</div>
				</div>
			</div>
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-5">
						<input type="password" class="form-control" name="password" required />
					</div>
				</div>
			</div>

			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">First Name: </label>
					<div class="col-5">
						<input type="text" class="form-control" name="firstName" required />
					</div>
				</div>
			</div>
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Last Name: </label>
					<div class="col-5">
						<input type="text" class="form-control" name="lastName" required />
					</div>
				</div>
			</div>
			<br>
			<div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
		</form>
	</div>
</body>
</html>